Options -MultiViews
RewriteEngine On

RewriteBase /bilal_workspace/MVC_ORM/public/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

