<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Backbone Student Crud</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css">
    <style>
        tr:nth-child(even) {
            background: #faffc7;
        }</style>
</head>
<body>


<div class="container">
    <h1>Student Information system</h1>
    <hr />
    <div class="page"></div>
</div>


<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js" type="text/javascript"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>

<script type="text/template" id="user-list-template">

    <a href="#/new" class="btn btn-primary">Add New Student</a>
    <hr />
    <table class="table striped">
        <thead>
        <tr>
            <th>Name</th><th>Father's Name</th><th>DOB</th><th>School</th><th>City</th><th>Description</th><th>Status</th>
        </tr>
        </thead>
        <tbody>
        <% _.each(std, function(user) { %>
        <tr>
            <td><%= htmlEncode(user.name) %></td>
            <td><%= htmlEncode(user.fathers_name) %></td>
            <td><%= htmlEncode(user.dob) %></td>
            <td><%= htmlEncode(user.School) %></td>
            <td><%= htmlEncode(user.City) %></td>
            <td><%= htmlEncode(user.Description) %></td>
            <td><%= htmlEncode(user.Status) %></td>

            <td><a class="btn" href="#/edit/<%= user.id %>">Edit</a></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</script>

<script type="text/template" id="edit-user-template">
    <form class="edit-user-form">
        <legend><%= user ? 'Edit' : 'New' %> User</legend>
        <label>Name</label>
        <input name="name" type="text" value="<%= user ? user.get('name') : '' %>">
        <label>Father's Name</label>
        <input name="fathers_name" type="text" value="<%= user ? user.get('fathers_name') : '' %>">
        <label>DOB</label>
        <input name="dob" type="text" value="<%= user ? user.get('dob') : '' %>">
        <label>School</label>
        <input name="School" type="text" value="<%= user ? user.get('School') : '' %>">
        <label>City</label>
        <input name="City" type="text" value="<%= user ? user.get('City') : '' %>">
        <label>Description</label>
        <input name="Description" type="text" value="<%= user ? user.get('Description') : '' %>">
        <input name="Status" type="hidden" value="1">
        <hr />
        <button type="submit" class="btn"><%= user ? 'Update' : 'Create' %></button>
        <% if(user) { %>
        <input type="hidden" name="id" value="<%= user.id %>" />
        <button data-user-id="<%= user.id %>" class="btn btn-danger delete">Delete</button>
        <% }; %>
    </form>
</script>

<script>
    function htmlEncode(value){
        return $('<div/>').text(value).html();
    }
    $.fn.serializeObject = function() {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function() {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

    var Users = Backbone.Model.extend({
        url: 'http://localhost/apigility/public/student'
    });
    var User = Backbone.Model.extend({
        urlRoot: 'http://localhost/apigility/public/student'
    });
    var UserListView = Backbone.View.extend({
        el: '.page',
        render: function () {
            var that = this;
            var users = new Users();
            users.fetch({
                success: function (student) {
                   //alert("in success fucntion of list view");
                   // console.log(student);
                    console.log(student.attributes._embedded);
                    var res = student.attributes._embedded.student;
                   // console.log(res);
                    for(var i =0; i<res.length; i++ ){
                        console.log(res[i].name);
                    }
                  //  console.log('asdsa');
                   //console.log(student);
                    var template = _.template($('#user-list-template').html() );
                    var html = template({std: res});
                    that.$el.html(html);
                }
            })
        }
    });
    var userListView = new UserListView();
    var UserEditView = Backbone.View.extend({
        el: '.page',
        events: {
            'submit .edit-user-form': 'saveUser',
            'click .delete': 'deleteUser'
        },
        saveUser: function (ev) {
            var userDetails = $(ev.currentTarget).serializeObject();
            var user = new User();
            user.save(userDetails, {
                success: function (user) {
                    router.navigate('', {trigger:true});
                }
            });
            return false;
        },
        deleteUser: function (ev) {
            this.user.destroy({
                success: function () {
                    console.log('destroyed');
                    router.navigate('', {trigger:true});
                },
                failure:function(){


                }
            });
            return false;
        },
        render: function (options) {
            var that = this;
            if(options.id) {
                that.user = new User({id: options.id});
                that.user.fetch({
                    success: function (user) {
                        var template = _.template($('#edit-user-template').html(), {user: user});
                        that.$el.html(template);
                    }
                })
            } else {
                var template = _.template($('#edit-user-template').html(), {user: null});
                that.$el.html(template);
            }
        }
    });
    var userEditView = new UserEditView();
    var Router = Backbone.Router.extend({
        routes: {
            "": "home",
            "edit/:id": "edit",
            "new": "edit",
        }
    });
    var router = new Router;
    router.on('route:home', function() {
        // render user list
        userListView.render();
    })
    router.on('route:edit', function(id) {
        userEditView.render({id: id});
    })
    Backbone.history.start();
</script>


</body>
</html>